<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="true">

  <display-name>Welcome to NewContext</display-name>
  <description>
     Welcome to NewContext
  </description>

  
  <servlet>
      <servlet-name>GetServletName</servlet-name>
      <servlet-class>cuh.sv.GetServlet</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>GetServletName</servlet-name>
      <url-pattern>/get.do</url-pattern>
  </servlet-mapping>
  

  <servlet>
      <servlet-name>PostServletName</servlet-name>
      <servlet-class>cuh.sv.PostServlet</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>PostServletName</servlet-name>
      <url-pattern>/post.do</url-pattern>
  </servlet-mapping>
  

</web-app>
